/* GENERAL */

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: "Raleway", sans-serif;
}

h1 {
    font-weight: 400;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    line-height: 1.5em;
}

a {
    color: #023020;
    font-weight: 500;
    transition: color 0.5s ease;
}

a:hover {
    color: #FFC300;
}

/* DEVIDER */

.devider {
    padding: 2em 0 0 0;
}

.devider hr {
    margin-top: 0;
    padding: 0;
    border-style: dashed;
}

.devider hr:nth-child(1) {
    border-width: 0.5px;
    border-color: #84a98c;
}

.devider hr:nth-child(2) {
    border-width: 0.5px;
    border-color: #e3b23c;
}

.devider hr:nth-child(3) {
    border-width: 0.5px;
    border-color: #a4969b;
}

.devider hr:nth-child(4) {
    border-width: 0.5px;
    border-color: #655560;
}

.devider hr:nth-child(5) {
    border-width: 0.5px;
    border-color: #50858b;
}

.devider hr:nth-child(6) {
    border-width: 0.5px;
    border-color: #c1666b;
}

/* TABLE OF CONTENTS */

.table-of-contents {
    position: sticky;
    top: 3em;
    width: 200px;
    padding: 0 1em;
}

/* FOOTER */

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    gap: 3em;
    padding: 2em 1em;
}

footer p {
    margin: 0;
}

#footer-social-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1em;
    padding: 0.5em;
    margin-top: 1em;
}

#footer-social-icons svg {
    fill: #50858b;
    width: 2em;
    transition: fill 0.5s ease;
}

#footer-social-icons svg:hover {
    fill: #FFC300;
}

#footer-sponsors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0.5em;
}

#footer-sponsors img {
    height: 5em;
}
