h2 {
    text-align: left;
    font-weight: 400;
    margin: 1em 0;
    border-bottom: 0.5px dashed #655560;
    color: #655560;
}

#board-members {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2em;
}

.person {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
}

.person img {
    width: 200px;
    height: 200px;
}

#join-add {
    text-align: center;
    margin: 3em 0 2em 0;
}

#join-add a {
    text-decoration: none;
    outline-width: 0.3em;
    outline-style: double;
    outline-color: #e3b23c;
    transition: outline-width 1s;
    padding: 1.5em 3em;
}

#join-add a:hover {
    color: #e3b23c;
    outline-width: 0.5em;
}